html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.backgroundImages {
    width: 300x;
    height: 300px;
    resize: both;
    overflow: auto;
    background-image: url("../images/currency.jpg"); 
    background-size: 200px;
    background-color: #ccc;
    background-repeat: space round;
}